<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div id="new_word_area">
    <h1>请在这里添加新的单词</h1>

    <form>
        单词: <input type=text" id="word"/>
        录入标签:<input type=text" id="word_tag"/>
        单词解释:<input type="text" id="detail_mean"/>
        来源网址输入:<input type="text" id="srcUrl"/>
        例句输入: <textarea id="sentense" name="sentense" cols="60" rows="10">在此输入例句</textarea>
        备注: <textarea id="tip_content" name="tip_content" cols="60" rows="10">在此输入备注</textarea>
    </form>
</div>

<div id="word_list_area">
    <h1>已添加单词列表</h1>
</div>

</body>
</html>