<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html;charset=utf-8"/>
    <!--汉语标题，还不能显示出来，有空再弄-->
    <title>英语单词记录系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/homePage.css}"></link>
    <!--<link rel="stylesheet" type="text/css" href="../resources/homePage.css"></link>-->
</head>

<body>

<!--Hello World-->
<div id="new_word_area">
    <h1>请在这里添加新的单词</h1>

    <form method="POST"  action="uploadword"   th:object="${wordentry}">
        <p><label for="word">单词:</label> <input type="text" id="word" th:field="*{word}"/></p>

        <p><label for="word_tag">录入标签:</label><input type="text" id="word_tag" /></p>

        <p><label for="detail_mean">单词解释:</label><input type="text" id="detail_mean" /></p>

        <p><label for="srcUrl">来源网址输入:</label><input type="text" id="srcUrl" /></p>

        <p><label for="sentense">例句输入:</label><br/> <textarea id="sentense" name="sentense" cols="60"
                                                              rows="10">在此输入例句</textarea></p>

        <p>备注:<br/> <textarea id="tip_content" name="tip_content" cols="60" rows="10">在此输入备注</textarea></p>

        <input type="submit" value="Submit"/>
    </form>
</div>

<div id="word_list_area">
    <h1>已添加单词列表</h1>
</div>

</body>
</html>